.App {
  text-align: center;
  margin-top: 50px;
}

button {
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 6px 10px;
  margin-left: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2563eb;
}
